/*body {
	background: url("/Match/images/brown.jpg") no-repeat fixed center !important;
	background-size:100% 100% !important;
    /*background-attachment:fixed;
	background-size:cover !important;
	background-repeat:no-repeat;
}

.ui-page, .ui-content{
	background: transparent;
}*/

#incomingMessages {
	height: 75% !important;
	margin: 0 !important;
}

textarea {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


#incomingMessages .loading {
	background-color:green;
}

#incomingMessages .message {
	width:100%;
	float:left;
	border-radius:10px;
	padding:5px;
	margin:2px;
}

#incomingMessages .message div {
	width:50%;
}

.sent {
	float:left;
	clear:right;
	background-color:#396b9e;
	padding:5px;
}


.received {
	float:right;
	clear:left;
	background-color:#396b9e;
	padding:5px;
}

.realityCheck{
    background-color: #F3EE6F;
    border-radius: 0.9em;
    text-shadow: 0 0 0;
    color: #303023;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble{
	font-weight: bold;
	text-shadow: 0 0 0;
	color: #000000;
    background-color: #FFCFCF;
    border-radius: 5px;
    box-shadow: 0 0 0px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #FFCFCF;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left; 
    clear: right; 
    background-color: #ACE2BF;/*#e2f9dd;*/
    margin: 5px 45px 5px 20px;         
}

.me::before {
    /*box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );*/
    background-color: #ACE2BF;
    left: -9px;           
}

.you {
    float: right; 
    clear: left;  
    margin: 5px 20px 5px 45px;         
}

.you::before {
    /*box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );*/
    right: -9px;    
}